node_modules/
/wp-content/themes/twenty*
!/wp-content/themes/template-theme*
/wp-content/plugins/*
!/wp-content/plugins/template-plugin*
/wp-content/mu-plugins/
/wp-content/uploads/
.DS_Store
.vscode/settings.json
.env
.wp-env.override.json
/**/*.map
deliverables/